- var PAGE_TYPE = "top";
- var TITLE = "top";
include ./html/include/config/_config
include ./html/include/compornent/_include

doctype html
html(lang="ja")
  include ./html/include/config/_head
  body
    canvas.webgl
    include ./html/include/layout/_header
    include ./html/include/layout/_footer
