//- 画像パス
if PAGE_TYPE === 'top'
  - var IMG_PATH = "./assets/images/min/";
else
  - var IMG_PATH = "../assets/images/min/";
//- タイムスタンプ
//- - var DATE_NOW = Date.now();
//- //リンクパス
//- - var LINK_PATH = ""